<!DOCTYPE html>
<html>
<head>
  <title>Inforad</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/screens/date.css">
</head>
<body>

  <div id="date"></div>

  <script type="text/javascript">
    var el = document.getElementById('date');
    function setDate () {
      var date = new Date();
      el.innerText = [date.getMonth(), '/', date.getDay(), '/', date.getFullYear()].join('');
    }
    setInterval(function () {
      setDate()
    }, 1000 * 60 * 30);
    setDate();
  </script>

</body>
</html>