<!DOCTYPE html>
<html>
<head>
  <title>Inforad</title>
  <style type="text/css">
    body {
      margin: 0;
    }
    img {
      display: block;
    }
  </style>
</head>
<body>
  <img src="<%= query.url %>">
</body>
</html>