<!DOCTYPE html>
<html>
<head>
  <title>Inforad</title>
  <style type="text/css">
    body {
      margin: 0;
    }
    iframe {
      border: 0;
      position: absolute;
      width: 1080px;
      height: 1920px;
    }
  </style>
</head>
<body>
  <iframe src="/info/clock" id="frame"></iframe>
</body>
</html>