@import '../sq_market';
@import 'compass';

body {
  font-family: SQMarket, "Avenir", sans-serif;
  color: rgba(32, 32, 32, 0.8);
  background-color: #a9e4f7; // Old browsers
  @include filter-gradient(#a9e4f7, #0fb4e7, vertical); // IE6-9
  @include background-image(linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%));

  margin: 0;
  position: absolute;
  width: 1080px;
  height: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#date {
  font-size: 124px;
  kerning: auto;
  text-rendering: optimizeLegibility;
}